body {
    background-color: #a4c9a6;
}

.text-center {
    text-align: center;
}

#principal {
    height: 10vh;
}

#logo {
    margin-top: 30px;
    text-align: right;
    float: right;
}

#nav {
    text-align: center;
}

.nav-link {
    font-size: 1em;
    color: rgb(110, 110, 110);
}

.active {
    color: rgb(245, 34, 34);
}

.active:visited {
    color: rgb(3, 3, 3);
}

.carousel-inner {
    max-height: 800px;
    overflow: hidden;
}

footer {
    background-color: rgb(74, 117, 89);
    color: black;
    padding: 10px;
    text-align: left;
    position: fixed; 
    width: 100%;
    bottom: 0;
    left: 0;
}

footer img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.caue {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: large;
}

.quem {
    padding: 10px;
    text-align: center;
    margin-top: 95px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
.fotografia {
    padding: 10px;
    text-align: center;
    margin-top: 95px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
.texto {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
}
.minha-foto {
    text-align: center; 
    margin-left: 15px;
}

.foto-redonda {
    border-radius: 50%; 
    width: 320px; 
    height: 320px; 
    object-fit: cover; 
}
.foto-redonda2 {
    border-radius: 50%; 
    width: 180px; 
    height: 180px; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.image-container2 {
    position: relative;
    display: inline-block;
    padding-right: 350px;
}
.image-container {
    position: relative;
    display: inline-block;
    padding-right: 350px;
}



.image-text {
    position: absolute;
    bottom: 80px; 
    left: 200px; 
    color: black; 
    padding: 5px 10px; 
    font-size: 18px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px; 
}

/*seção fotografia*/
.custom-tab-content {
    padding: 20px;
  }
  .image-thumbnail {
    width: 100%;
    height: 500px; /* Altura fixa para as imagens */
    object-fit: cover; /* Garante que as imagens mantenham a proporção */
  }
.fotografia-texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background-color: white;
    
}
  
  .image-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: auto;
    width: 100%;   
    overflow: hidden;
    margin-bottom: 20px;

  }
  
  .nome-imagem{
  font-weight: bold;
  background-color: white;
  color:black
  }
  .nome-data{
  color:white
  }
  
  
  .nome-data {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  .titulo-fotografia {
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }
/*SEÇÃO CONTATO*/
  .titulo-contato {
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-transform: uppercase;
  }
  .social-icons img {
    width: 30px; /* Largura dos ícones */
    margin-right: 10px; /* Espaçamento à direita */
  }
  